<div
  id="customPopup"
  class="fixed inset-0 bg-black bg-opacity-40 justify-center flex items-center hidden"
>
  <div
    id="popupContainer"
    class="bg-dark-grey text-dark-grey p-10 rounded-lg shadow-lg w-full max-w-sm relative"
  >
    <h2 id="popupTitle" class="text-xl font-bold mb-4">Notification</h2>
    <p id="popupMessage" class="text-dark-grey mb-6">This is a custom message.</p>
    <div class="flex justify-end">
      <button
        id="closePopupBtn"
        class="bg-pm-green hover:bg-green-600 text-dark-grey font-bold py-2 px-4"
      >
        OK
      </button>
    </div>
  </div>
</div>
